* {
    box-sizing: border-box;
}


body {
    background-color: #eaeafc;
    font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;
}

nav {
    background-color: white;
    width: 532px;
    border-radius: 20px;
    text-align: center;
    float: right;
    padding: 5px 2px 5px 2px;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

nav a {
    display: inline-block;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

nav a:hover {
    background-color: #CCFBF1;
    border-radius: 20px;
}

nav img {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
}

.inicio h1 {
    color: #111111;
    font-size: 40px;
    text-align: center;
    margin: 0px;
}

.inicio p {
    color: #666666;
    text-align: center;
    margin: 0px;
}

.inicio img {
    position: relative;
    left: 830px;
    width: 250px;
    height: 170px;
    margin: auto;
    margin-top: 100px;
}

.redes a {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    color: #111111;
    text-decoration: none;

    background-color: white;
    width: 700px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid #ffffff00;
    box-shadow: 0px 3px 5px 3px #00000025;
    transition: 0.5s;
}

.redes a:hover {
    border: 1px solid #0f766e;
    color: #0f766e;
    box-shadow: 0 0 30px #0f766d4d;
    transform: translateY(-1px);
}

.redes span {
    grid-column: 2;
}

.redes img {
    width: 40px;
    height: 40px;
}

hr {
    border-top: 1px solid #d0d0d0;
    width: 720px;
    margin: 40px auto;
}

.sobre a {
    color: #6B7280;
    font-size: 15px;
    text-decoration: none;
    transition: 0.5s;
}

.sobre a:hover {
    color: #81848a;
}

.sobre {
    text-align: center;
    margin: 0px;
}

.formacoes h2  {
    color: #0F766E;
    font-size: 27px;
    text-align: center;
}

.certificados {
    display: grid;
    grid-template-columns: 340px 340px;
    gap: 20px;
    justify-content: center;
}

.certificado {
    background-color: #ffffff;
    color: #0F766E;
    width: 340px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #00000027;
}

.certificado p {
    color: #6B7280;
    line-height: 1.5;
    font-size: 14px;
}

.certificado a {
    color: #111111;
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    float: right;
    border-radius: 10px;
    transition: 0.5s;
}


.certificado a:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.199);
}

.certificado span {
    font-size: 15px;
    position: relative;
    top: 7px;
}

.meuscert {
    text-align: center;
    margin-top: 40px;
    
}

.meuscert a {
    color: #111111;
    text-decoration: none;
}

.meuscert span {
    background-color: #eaeafc;
    font-size: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #00000023;
    transition: 0.5s;
}

.meuscert span:hover {
    background-color: #00000023;
    color: rgb(81, 81, 255);
}


.skills h2 {
    color: #0F766E;
    font-size: 27px;
    text-align: center;
}

.habilidades {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
    justify-content: center;
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
}

.habilidade:hover {
    transform: translateY(-4px);
}

.habilidade img {
    width: 50px;
    height: 50px;
}

footer {
    color: #6B7280;
    font-size: 12px;
    text-align: center;
    margin: 40px;
}