* {
    box-sizing: border-box;
}

header {
    position: fixed;
    right: 10px;
}

body {
    background-color: #eaeafc;
    font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;
}

nav {
    background-color: white;
    
    width: 440px;
    border-radius: 20px;
    text-align: center;
    float: right;
    padding: 5px 2px 5px 2px;
    border: 1px solid rgba(0, 0, 0, 0.39);
}

nav a {
    display: inline-block;
    color: #333333;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    
}

nav a:hover {
    background-color: #CCFBF1;
    transition: 0.5s;
    border-radius: 20px;
}

nav img {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
}

h2 {
    color: #0F766E;
    font-size: 40px;
    margin: 10px 10px 40px 10px;
    margin-top: 70px;
    text-align: center;
}

.um {
    color: #0F766E;
    font-size: 40px;
    margin: 10px 10px 40px 10px;
    margin-top: 70px;
    text-align: center;
}

.habilidades1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 20px;
    justify-content: center;

}

.dois {
    color: #0F766E;
    font-size: 40px;
    margin: 10px 10px 40px 10px;
    margin-top: 100px;
    text-align: center;
}

.habilidades2 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 20px;
    justify-content: center;
}

.tres {
    color: #0F766E;
    font-size: 40px;
    margin: 10px 10px 40px 10px;
    margin-top: 100px;
    text-align: center;
}

.habilidades3 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 20px;
    justify-content: center;
}

.habilidade {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidade:hover {
    transform: translateY(-5px);
}

.habilidade img {
    width: 65px;
    height: 65px;
}



footer {
    color: #6B7280;
    font-size: 12px;
    text-align: center;
    margin: 29px 10px 29px 10px;
}